* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #e84756;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  padding: 50px 0px 50px 0px;
}

h2 {
  color: white;
  padding: 5px 0px 5px 5px;
}

h3 {
  color: white;
  padding: 0px 0px 5px 5px;
}

.team-card {
  background-color: #f6f7f9;
  border-radius: 5px;
  min-width: 300px;
  width: min-content;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.575);
  margin: 10px 10px 10px 10px;
}

.card-top {
  background-color: #0077f7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-bottom {
  padding: 20px 10px 20px 10px;
}

#card-holder {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-info-box, .card-info-box-bottom {
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.card-info-box-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}